@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main-text-color: rgb(0, 83, 192);
}

body {
    background-color: rgb(235, 235, 235);
    color: rgb(51, 51, 51);
    font-family: 'Poppins', sans-serif;
}

h4 {
    text-align: center;
    color: var(--main-text-color);
}

#message {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8em;
    margin: 30px 10% 0 10%;
}

.score {
    font-weight: bold;
    font-size: 2.4rem;
}

#score {
    font-weight: bold;
    color: var(--main-text-color);
    font-size: 3rem;
    margin-left: 5px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.container-img {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 15px;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 15px;
}

.result {
    color: var(--main-text-color);
    font-size: 1.4em;
    display: inline-block;
    margin-bottom: .3em;
}

#explore {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: bold;
    border: 2px solid green;
}

#reset {
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin-left: 60px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid red;
}

#explore:disabled {
    background-color: rgba(0, 128, 0, .7);
    cursor: auto;
}

#explore:active, #reset:active {
    font-size: 1.05rem;
}

@media only screen and (min-width: 700px) {
   img {
       width: 320px;
       height: 320px;
   }
}

@media only screen and (max-width: 699px) {
    img {
        width: 200px;
        height: 200px;
    }
}